AI News Auto Blogger & Email Automation workflow.json
{
  "name": "AI News Auto Blogger & Email Automation - Pranav V P",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a43b9bfa-c41d-4325-9de5-46c303fac5f2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_news"
            },
            {
              "name": "q",
              "value": "Artificial Intelligence"
            },
            {
              "name": "api_key",
              "value": "YOUR_SERPAPI_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "90a8a25d-4436-406c-aad7-f3868704fa76",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const articles = $json[\"news_results\"];\n\nreturn articles.slice(0, 5).map(article => {\n  return {\n    json: {\n      title: article.title,\n      snippet: article.snippet,\n      link: article.link,\n      source: article.source\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "ea24b0b5-2801-4844-a033-bce0889334c1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional AI blog writer.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate a professional AI news blog article in clean HTML format. Use proper HTML tags like <h2>, <p>, <ul>, <li>, and <strong>. Do not use markdown symbols like ** or ##. Make the article visually clean and readable. News: {{$json.title}} {{$json.snippet}}\"\n    }\n  ],\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "8cd1cb5f-953f-415f-886c-863db6d6ae1c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1ccf7e4-de65-48f0-b014-22bb6143abac",
              "name": "subject",
              "value": "Daily AI News Blog",
              "type": "string"
            },
            {
              "id": "37c358de-6f4d-478c-b45b-5a246ae178d1",
              "name": "body",
              "value": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f4f4;\n      padding: 20px;\n      color: #333333;\n    }\n\n    .container {\n      max-width: 800px;\n      margin: auto;\n      background: white;\n      border-radius: 10px;\n      padding: 30px;\n      box-shadow: 0px 2px 10px rgba(0,0,0,0.1);\n    }\n\n    .header {\n      text-align: center;\n      border-bottom: 2px solid #eeeeee;\n      padding-bottom: 20px;\n      margin-bottom: 20px;\n    }\n\n    .header h1 {\n      color: #111827;\n      margin: 0;\n    }\n\n    .content {\n      line-height: 1.8;\n      font-size: 16px;\n    }\n\n    .footer {\n      margin-top: 30px;\n      text-align: center;\n      font-size: 12px;\n      color: #777777;\n      border-top: 1px solid #eeeeee;\n      padding-top: 15px;\n    }\n\n    .badge {\n      display: inline-block;\n      background: #2563eb;\n      color: white;\n      padding: 6px 12px;\n      border-radius: 20px;\n      font-size: 12px;\n      margin-bottom: 15px;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"container\">\n\n    <div class=\"header\">\n      <div class=\"badge\">AI AUTOMATED NEWS DIGEST</div>\n      <h1>Daily AI News</h1>\n    </div>\n\n    <div class=\"content\">\n      {{$json.choices[0].message.content}}\n    </div>\n\n    <div class=\"footer\">\n      Generated automatically using n8n + GROQ AI\n    </div>\n\n  </div>\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "d1636730-d158-4fce-866e-f3434c9540e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "Daily AI News Digest",
        "message": "=<div class=\"content\">\n  {{$json.body}}\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "0f0b80ae-2089-452c-99a6-4878e63d9b1a",
      "name": "Send a message",
      "webhookId": "5b47f3e8-29b1-49d7-8ebd-1a1be5df4fb1",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "27939d18-a725-46c0-bde6-1d77a9f975a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "60247ec941cc4dcd46b9b72dc569e294cb1cfa44b0a75cf94558833f92ba0250"
  },
  "id": "BlH03SfBEElBh1oz",
  "tags": []
}